[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.10.0"
s3fs = "*"
pandas = "*"
monty = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-mock = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
