[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "==1.14.5"
s3fs = "*"
monty = {editable = true, path = "."}
pandas = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.6"
